---
import { getCollection } from "astro:content";
import Root from "@/layouts/Root.astro";
import { Masonry } from "astro-masonry";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Root title="Blog - Joseph Abbey" description="Joseph Abbey's Blog">
  <section class="mx-4">
    <Masonry
      breakpointCols={{
        default: 3, // lg
        1024: 2, // md
        640: 1, // sm
      }}
      class="flex gap-4 px-4"
      columnClass="flex flex-col gap-4"
    >
      {
        posts.map((post) => (
          <a href={`/blog/${post.id}`} data-astro-prefetch class="h-max">
            <Card>
              {post.data.cover && (
                <CardContent>
                  <img
                    transition:name={`${post.id} image`}
                    class="rounded-lg"
                    src={post.data.cover?.src}
                    alt={post.data.title}
                  />
                </CardContent>
              )}
              <CardHeader>
                <CardTitle
                  transition:name={`${post.id} title`}
                  className="text-pretty"
                >
                  {post.data.title}
                </CardTitle>
                <CardDescription className="line-clamp-3 max-h-[3.75rem] overflow-hidden overflow-ellipsis">
                  {post.data.description}
                </CardDescription>
              </CardHeader>
            </Card>
          </a>
        ))
      }
    </Masonry>
  </section>
</Root>
