---
import ProjectCard from "@/components/ProjectCard";
import Root from "@/layouts/Root.astro";
import { getCollection } from "astro:content";
import me from "../assets/me.jpg";
import { Picture } from "astro:assets";

const projects = await getCollection("projects");
---

<Root title={"Joseph Abbey"} description={"Digital Portfolio"}>
  <div class="mt-24 flex justify-center">
    <Picture
      src={me}
      formats={["avif", "webp", "jpeg"]}
      alt="Joseph Abbey"
      class="h-48 w-48 rounded-full md:h-64 md:w-64"
    />
  </div>
  <div class="mt-20 flex justify-center">
    <div class="grid w-max grid-cols-3 gap-4">
      {
        projects.map((project) => (
          <a href={`/projects/${project.id}`} data-astro-prefetch>
            <ProjectCard
              client:visible
              title={project.data.title}
              description={project.data.description}
              languages={project.data.languages}
              contributors={project.data.contributors}
              icon={project.data.icon?.src}
              repository={project.data.repository}
            />
          </a>
        ))
      }
    </div>
  </div>
</Root>
